:root {
  --dark-blue: #01146f;
}

.side-bar-item.active {

  div:nth-child(1) {
    font-weight: bold;
    color: var(--dark-blue);
    background-color: #bfecf1;
    border: none;
  }
}

@media (min-width: 768px) {
  .side-bar-item {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}