.side-bar {
    padding-top: 1.5rem;
    width: 100dvw;
    height: 30dvh;
    display: flex;
    justify-content: center;
    gap: 1rem;
    background: url('../../assets/images/bg-sidebar-mobile.svg');
    background-size: cover;

    .side-bar-item.active div:nth-child(1) {
        background-color: #fff;
        color: #000;
    }
}

.step-indicator-wrapper {
    height: 2rem;
    width: 2rem;
    color: #fff;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-indicator {
    display: none;
}