.summary-wrapper {
    height: 100%;
    padding: 1rem;
}

.summary {
    position: relative;
    bottom: 5rem;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    border-radius: 8px;

    h1 {
        color: var(--blue-950);
    }

    p {
        text-align: center;
        color: var(--grey-500);
    }
}

@media screen and (min-width: 768px) {
    .summary-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
    }

    .summary {
        bottom: 0;
        margin: 0;
        margin-bottom: 10rem;
        padding: 3.5rem 15rem;
    }
}