:root {
    --light-grey: #00000063;
    --light-grey-2: #0444a50d;
    --dark-blue: #01146f;
}

.add-ons {
    position: relative;
    bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #fff;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 8px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    background-color: #fff;
}

.back-button {
    text-decoration: none;
    color: var(--light-grey);
    font-weight: bold;
}