:root {
    --background-color: #f6f5f9;
    --light-grey: #00000063;
    --light-grey-2: #0444a50d;
    --dark-blue: #01146f;
}

.add-ons-wrapper {
    background-color: var(--background-color);
}

.add-ons {
    position: relative;
    bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #fff;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 8px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h1 {
        font-size: 1.5rem;
        color: var(--dark-blue);
    }
}

.add-ons-options-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.add-on-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--light-grey);
    border-radius: 8px;
}
.add-on-option.active {
    background-color: var(--light-grey-2);
    border: 1px solid var(--dark-blue);
}

.checkbox-content-group {
    display: flex;
    gap: 0.7rem;

    input {
        width: 1.2rem;
    }
}

.add-on-option-content {
    label {
        color: var(--dark-blue);
        font-weight: bold;
    }
    p {
        font-size: 12px;
    }
}

.add-on-option-price {
    color: var(--dark-blue);
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    background-color: #fff;
}

.back-button {
    text-decoration: none;
    color: var(--light-grey);
    font-weight: bold;
}