.select-plan-wrapper {
  background: var(--grey);
}

.select-plan {
  position: relative;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #fff;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 8px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h1 {
    font-size: 1.5rem;
    color: var(--blue-950);
  }

  p {
    color: var(--grey-500);
  }
}

.plans-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .plan.active {
      border: 1px solid var(--purple-600);
      background: var(--blue-100);
  }
}

.plan {
  border: 1px solid var(--grey-500);
  display: flex;
  padding: 1rem;
  gap: 1rem;
  border-radius: 8px;
  align-items: flex-start;
}

.plan-type {
  color: var(--blue-950);
  font-weight: bold;
}

.plan-details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.plan-price {
  color: var(--grey-500);
  font-size: 13px;
}

.additional-content {
  color: var(--blue-950);
  font-size: 13px;
}

.billing {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  background: var(--grey);
}

.billing-text-monthly {
  color: var(--blue-950);
  font-weight: bold;
}
.billing-text-yearly {
  color: var(--grey-500);
  font-weight: bold;
}

/* Billing Slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--blue-950);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--blue-950);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider {
  border-radius: 24px;
}

.slider:before {
  border-radius: 45%;
}
/* END Billing Slider */

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #fff;
}

.back-button {
  text-decoration: none;
  color: var(--grey-500);
  font-weight: bold;
}