* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-component-wrapper {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  height: 70dvh;
  padding: 1rem;
  background-color: rgb(68 107 191 / 8%);
}